input {
  border: none;
  background: none;
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
  text-align: center;
}
input:focus {
  outline: none;
}

input::placeholder {
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
}
input::selection {
  background-color: whitesmoke;
}
.js-clock {
  display: flex;
  justify-content: center;
}
.clock__time {
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
  font-size: 150px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
.form,
.greetings {
  display: none;
}
.showing {
  display: flex;
  justify-content: center;
}

.input__name {
  font-size: 50px;
  font-weight: 500;
}

.greetings {
  font-size: 50px;
  background: none;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
  margin-top: 0px;
}
.input__toDo {
  font-size: 50px;
  background: none;
  font-weight: 600;
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
  margin-top: 0px;
}
.js-toDoForm {
  display: flex;
  justify-content: center;
}
.js-toDoList {
  padding: 20px;
  font-size: 40px;
  background: none;
  font-weight: 500;
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  background: none;
  font-size: 50px;
  text-align: center;
  border: none;
  color: whitesmoke;
  text-shadow: #fc0 1px 0 10px;
}
button:focus {
  outline: none;
}
button:hover {
  transform: scale(1.2);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadein 0.5s linear;
}
